## .NET / C#

# Build outputs
bin/
obj/
out/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Publish output
publish/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
*.wav
dist/Melanchall_DryWetMidi_Native64.dylib
dist/MidiHub.exe
